.pagination__list {
	list-style: none;
	margin: 0;
	padding: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.pagination__link {
	text-decoration: none;
	font-weight: 500;
	padding: 2px;
	color: var(--link-color, #000);
	cursor: pointer;
}

.pagination__link:visited {
	color: var(--link-visited-color);
}

.pagination__link_active {
	pointer-events: none;
	font-weight: 700;
	outline: 1px solid var(--link-color);
	border-radius: 2px;
}

.pagination__text {
	text-decoration: none;
	font-weight: 500;
	padding: 2px;
	color: var(--color, #000);
}
