@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.App {
	text-align: center;
	max-inline-size: 1440px;
	inline-size: 100%;
	min-block-size: 100dvb;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: var(--background-color);
}
